@font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url('/font/Roboto-Bold.ttf');
}

body{
    font-family: 'Roboto', sans-serif;
}

root{
    --background: #2F303A
    --white-color: #F5F4FA
    --white-back: #FFFFFF
}

header {
background-color: #2F303A;
color: #FFFFFF;
padding: 20px;
text-align: center;
}

header img {
max-width: 100%;
height: auto;
}

ul {
list-style: none;
padding: 0;
}

li {
display: inline;
margin-right: 20px;
}

h1 {
text-align: center;
color: #2F303A
}

button {
background-color: #2F303A;
color: #FFFFFF;
padding: 10px 20px;
font-size: 16px;
border: none;
cursor: pointer;
transition: background-color 0.3s;
}

button:hover {
background-color: #555;
}

hr {
border: 0;
height: 1px;
background: #FFFFFF;
margin: 20px 0;
}

h3 {
color: #2F303A;
}

p {
color: #333;
}

section {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: 20px 0;
}

article {
text-align: center;
margin: 20px;
}

article img {
max-width: 100%;
height: auto;
border-radius: 10px;
}

strong {
display: block;
margin: 20px 0;
font-size: 20px;
color: #2F303A
}

footer{
   background-color:#2F303A
}
h4{
    color: #FFFFFF;
}
